/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #ddd0c8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 400px;
  padding: 20px;
  background-color: #99775c;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1,
h2 {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #333333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

li:hover {
  background-color: rebeccapurple;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4f6364;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #465564;
}

.choice-item {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.choice-item:hover {
  background-color: #f0f0f0;
}

.choice-item.selected {
  background-color: rebeccapurple; /* Light green */
}

.hidden {
  display: none;
}
